nav {
    display: flex;
    justify-content: space-between;
    position:absolute;
    width:100%;
    z-index:10;
    max-width:100%;
}
a {
    color: rgb(255, 255, 255);
}
h2{
    font-size: 40px;
    color: white;
    padding: 20px;
}
.topnav {
    overflow: hidden;
    /* background-color: #333; */
  }
  .topnav a {
    float: left;
    display: block;
    /* color: #f2f2f2; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover .dropdown:hover .dropbtn {
    background-color: none;
    color: black;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .topnav a.active {
    /* background-color: #04AA6D; */
    color:#DA9F5B;
  }
  
  .topnav .icon {
    display: none;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position:fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a  {
      float: none;
      display: block;
      text-align: left;
    }
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  @media screen and (max-width: 600px) {
    .navlist{
      padding-bottom: 30%;
    }
}
.carou {
    border-style: none;
}

.carousel {position: relative;}

.carousel-content {
    position: absolute;
    top: 40%;
    left: 20%;
    color: white;
    width: 100%;
    font-size: 70px;
}

.carousel-item img {
   width: 100%;
   filter: blur(4px);
   
}
.vert {
    margin-top: 40px;
    border-left: 2px solid #DA9F5B;
    height: 100px;
    margin-left: 50%;
    margin-bottom: 50px;
}

h3 {
    font-size: 24px;
    color: #DA9F5B;
    text-align: center;
}

h5 { 
    position: relative;
}

.serv {
    font-size: 56px;
    color: #33211D;
    text-align: center;
}
.servi {
    font-size: 40px;
    color: #33211D;
    float: left;
    margin-right: 40%;
}
.servii {
    font-size: 40px;
    color: #33211D;
}
.servvv {
    font-size: 40px;
    color: white;
}
.servvvv {
    font-size: 150%;
    color: white;
    padding-top: 40px;

}
h6 {
    font-size: 24px;
    color: #33211D;
}
.main{
    margin-bottom: 90px;
    margin-left: 8%;
}
.mainleft {
    float:left;
}
.mainmid {
    float: left;
}
.mainright {
    padding-bottom: 150px;
}
.cofee {
    width: 300px;
   
}
body {
    background-color: #FFFBF2;}



.learn{
    border: 1px solid;
    background-color: sienna;
}
.service {
    display: flex;
    justify-content:space-evenly;
    padding-bottom: 20px;
}
h4 {
    color: #ffffff;
}

.servv {
    width: 200px;
    margin-right: 20px;
    
}
.flexx {
    margin-bottom: 40px;
}
#flexy {
    margin-right: 20px;
}
@media screen and (max-width: 600px) {
    .flexx {
      width: 90%;
      float:right;
    }
}
@media screen and (max-width: 600px) {
    #flexy {
      padding-left: 20px;
    }
}
@media screen and (max-width: 600px) {
    .spac {
      width: 100%; 
      float:inline-start;
    }
}
@media screen and (max-width: 600px) {
    .servv {
      width: 100%;
      margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
   .service {
      width: 100%; 
      display: inline-block;
    }
}
@media screen and (max-width: 600px) {
    .flexx {
       width: 90%; 
       margin-right: 10px;
       display: inline-block;
     }
 }
.fast {
    color: #33211D;
}
.iconn {
    margin-right: 10px;
    border-radius: 50%;
    background-color: #DA9F5B;
    padding: 5px;
    width: 40px;

}
.discount {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background: linear-gradient(rgba(51, 33, 29, .9), rgba(51, 33, 29, .9)), url("img/bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    font-family: roboto;
}
.off {
    padding-top: 80px;
    color: #DA9F5B;  
    font-size: 72px;
    line-height: 0.9;
    text-align: center;
    font-weight: bolder;
    position: relative;
}
.spac{
    float: right;
}
.special {
  color: #ffffff;  
  font-size: 40px;
  line-height: 0.9;
  text-align: center;

}
.p-3{
    float:left;
}

.sunday{
  color: #ffffff;  
  font-size: 30px;
  line-height: 0.9;
  text-align: center;  
  margin-bottom: 40px;
}
.input {
    display: flex;
    padding: 70px;
    width: 30%;
    justify-self: center;
}
.degree{
    height: 100%;
    width: 70%;
    padding-bottom: 5px;
    margin-left: 15%;

}

.menu{
    height: 100%;
    width: 70%;
    margin-left: 15%;
}
.mennu {
    border-radius: 50%;
    width: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.menu1 {
    float: left;
    margin-right:12%;
}
.choco{
    color: #33211D;
}
.late {
  float: right;  
}

.demo-bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
.demo-bgs {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
.about-bgs {
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30%;
}

.reservation{
    width: 50%;
    color: white;
    padding-left: 40px;
    padding-right: 40px;

}
.table {
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
    height: 40%;
}
.container {
    display: flex;
    background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)), url(/img/bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-left: 12%;
    margin-top: 80px;
    /* padding-bottom: 40px; */
}
#signup {
    height: 30%;
}

  .carousel-items img {
    width:76px;
}
.carousel-inners {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 40px;
}
.testimony {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding-left: 10%;
    transition: width 5s;
} 
.testimony:hover {
    width: 1200px;
  }
  @media screen and (max-width: 600px) {
    .testimony {
      width: 100%;
      padding-left: 15%; }
}
 
  .smith a {
    text-align: center;
}
/* .smith {
    float: left;
    width: 40%;
} */
.smith img {
    padding-right: 20px;
}
@media screen and (max-width: 600px) {
    .smith {
       /* float:left; */
       margin-right: 20px;
       display: flex;
     }
 }
.contact {
    position: relative; 
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
    padding-top: 130px;
    background: linear-gradient(rgba(51, 33, 29, .9), rgba(51, 33, 29, .9)), url("img/bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10%;
}

.social img {
    margin-right: 20px;
}
.news {
    color: white;
}
.input-group {
    margin-bottom: 80px;
}
.social {
    color: white;
    float: left;
    width: 20%;
}
.touch {
    color: white;
    float: left;
    width: 20%;
}
.open {
    color: white;
    float: left;
    width: 20%;
}
#footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

}
#email {
    width:20%;
}
#emails {
    width:120%;
}
#submit {
    width: 20%;
}
input[type=text],input[type=date], input[type=time]{
    width: 100%;
    border-color: #DA9F5B;
    
}
button[type=submit] {
    /* width: 100%; */
    color: black;
    background-color: #DA9F5B;
    border-style: none;
    
}
input[type=submit] {
    width: 100%;
    color: black;
    background-color: #DA9F5B;
    border-style: none;
    
}
.overlay-top::before,
.overlay-bottom::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 15px;
    left: 0;
    z-index: 1;
}

.overlay-top::before {
    top: -1px;
    background: url(img/overlay-top.png);
}

.overlay-bottom::after {
    bottom: -1px;
    background: url(img/overlay-bottom.png);
}


@media screen and (max-width: 600px) {
    .touch, .open, .news, .social {
      width: 100%;
      padding-left: 10%; }
}
@media screen and (max-width: 600px) {
    .mainleft, .mainmid, .mainright{
    width: 100%;
    padding-left: 10%; }
}
@media screen and (max-width: 600px) {
    .input, .special, .sunday, .off{
    width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .input-group{
    width: 100%;
    padding:10px;
    }
}
@media screen and (max-width:600px) {
    .container{
        display: block;
        margin-bottom: 40px;
    }
}
@media screen and (max-width:600px) {
    .signup{
       margin-right: 60px;
}
}
@media screen and (max-width:600px) {
    .table, .reservation{
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .sun {
      width: 100%; 
    }
  }
  @media screen and (max-width: 600px) {
    .mapouter {
        width: 100%; 
    }
  }



